src/*.exe
src/cannabiscoin
src/cannabiscoind
src/test_cannabiscoin
*.Debug
*.Release
cannabiscoin-qt_plugin_import.cpp
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.cannabiscoin

# Compilation and Qt preprocessor part
*.qm
Makefile
cannabiscoin-qt
cannabiscoin-Qt.app

# Unit-tests
Makefile.test
cannabiscoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
